.App {
  text-align: center;
}

.start-button {
  padding: 3%;
  width: 9em;
  font-weight: bold;
  font-size: 16pt;
  background-color: #fcba19;
  color: #003366;
  margin-top: 5%;
  border-radius: 50px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
}
