.secondarybutton {
  background-color: #fcba19;
  border: none;
  border-radius: 5px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Noto Sans','Calibri', 'Arial', 'Sans Serif';
  cursor: pointer;
  padding: 4px 16px;
}

.secondarybutton:hover {
  text-decoration: underline;
  opacity: 0.9;
}

.other {
  margin: auto 0;
}