.footer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 50px;
  color: white;
  background-color: #003366;
}

.footer-title {
  padding: 1em 0 0 1em;
  font-family: 'Noto Sans','Calibri', 'Arial', 'Sans Serif';
  font-size: 0.6em;
  /* text-align: center; */
  /* text-transform: uppercase; */
}
